---
title: "AOT Classloading with Spring Boot"
date: "2025-11-20"
author: "Husein Jusic"
about: "Professional Software Engineer"
github: "huseinj"
summary: "Optimizing Spring Boot Applications using ahead of time (AOT) Classloading"
tags: ["Infrastructure", "Spring Boot"]
tableOfContents:
  
--- 

## Introduction

A springboot application can take a long time to start when a lot of beans need to be generated